.navbar {
  margin-bottom: 0;
}

.navbar-inner {
  border-radius: 0;
}

#map-canvas img {
    max-width: none;
}

#sidebar {
  width: 250px;
  float: left;
  padding: 5px;
}

.error {
  color: red;
}

.half {
  float: left;
  width: 50%;
}

.scroller {
  max-height: 800px;
  width: 100%;
  overflow: auto;
}

.instructions {
    padding: 5px;
}

.editor-form {
    height: 220px;
    margin-top: 10px;;
}

.navbar .checkbox {
  display: inline-block;
}

.extras .extra {
  padding: 4px;
  margin: 2px 4px;
  background: #eee;
}

.extras .extra span {
  font-weight: bold;
  font-size: 10pt;
  display: block;
}

.fwtb {
  box-sizing: border-box;
  width: 100%;
  padding: 14px 5px 14px 5px !important;
}

#sidebar .nav.nav-tabs {
  margin-bottom: 4px;
}
